body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
}


.topo {
    background-color: #0d1b3d;
    color: white;
    padding: 15px;
    display: flex;
    justify-content: space-between;
}


.menu {
    width: 220px;
    background: #eaeaea;
    height: 100vh;
    float: left;
    padding: 15px;
}


.conteudo {
    margin-left: 240px;
    padding: 20px;
}


.cards {
    display: flex;
    gap: 20px;
    margin-bottom: 30px;
}

.card {
    background: #d9d9d9;
    padding: 20px;
    border-radius: 12px;
    width: 200px;
}

.card h2 {
    margin: 0;
    font-size: 32px;
}


.mapa {
    background: #ccc;
    height: 320px;
    border-radius: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #555;
}


.btn {
    display: block;
    margin-top: 10px;
    padding: 8px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}

.editar {
    background: #9acd32;
}

.excluir {
    background: #ff3b3b;
    color: white;
}
